<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/content-list.css">
    <script src="../js/content-list.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="Header">
            <p><a href="/">HOME</a></p>
            <p>LOADOUTS</p>
            <p>COMMUNITY</p>
            <img src="../images/Classless.svg">
        </div>
        <div id="Selection">
            <p>Weapons</p>
            <p>Armor</p>
        </div>
    </header>
    <div>
        <div id="Search">
            <img src="../images/search.png">
            <input type="text" placeholder="Search">
            <img src="../images/menu-button.svg">
        </div>
        <div id="Display">
            <img src="../images/view-rows.svg" onclick="Display('Display','rows')" id="rows">
            <p>|</p>
            <img src="../images/view-grid-many.svg" onclick="Display('Display','blocks')" id="blocks">
        </div>
    </div>
    <div id="weapons">
        <div>
            
        </div>
        <div>
            
        </div>
    </div>
</body>