<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/registro.css">
    <script src="../js/registro.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="Header">
            <p><a href="/">HOME</a></p>
            <p>LOADOUTS</p>
            <p>COMMUNITY</p>
            <div class="dropdown">
                <img class="class" src="../images/Classless.svg">
                <div class="dropdown-content">
                    <a href="/login">LOGIN</a>
                    <a href="/registro">REGISTER</a>
                </div>
        </div>
    </header>
    <div id="login">
        <p>SING UP</p>
        <form method="post" action="registro">
            <label>GMAIL:</label><br>
            <input type="text" name="gmail"><br>
            <label>USERNAME:</label><br>
            <input type="text" name="name"><br>
            <label>PASSWORD:</label><br>
            <input type="text" name="user_password"><br>
            <div>
                <input type="radio" id="Titan" name="clase" value="Titan">
                <label for="Titan" id="Titan-Label"><img src="../images/Titan.png" onclick="Checked('Titan','Hunter','Warlock')"></label>
                <input type="radio" id="Hunter" name="clase" value="Hunter">
                <label for="Hunter" id="Hunter-Label"><img src="../images/Hunter.png" onclick="Checked('Titan','Hunter','Warlock')"></label>
                <input type="radio" id="Warlock" name="clase" value="Warlock">
                <label for="Warlock" id="Warlock-Label"><img src="../images/Warlock.png" onclick="Checked('Titan','Hunter','Warlock')"></label>
            </div>
            <br><br>
            <button >Sign Up</button>
        </form>
        
    </div>
</body>