* {
    font-family: "Orbitron", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background-size: cover;
    background-image: url("../images/Background.jpg");
    background-attachment: fixed;
    margin: 0;
}

header{
    background-color: black;
    height: auto;
}

/*Cabecera*/
#Header{
    display: flex;
}

#Header > p{
    font-size: 25px;
    color: white;
    margin-left: 1em;
}

#Header > img{
    height: 3em;
    margin-left: auto;
    margin-top: 1em;
    margin-right: 1em;
}

.dropdown{
    margin-left: auto;
    height: auto;
    width: auto;
    position: relative;
    display: inline-block;
}

.dropdown > img{
    height: 3.5em;
    margin: 1em;
    color: white;
    margin-left: 27.1em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    text-align: end;
    width: 9em;
    margin-left: 22.7em;
}

.dropdown-content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content > a:hover {
    background-color: #ddd;
}

.dropdown:hover > .dropdown-content {
    display: block;
}

#login{
    width: 50%;
    height: auto;
    background-color: rgb(74, 74, 74, 0.5);
    color: white;
    margin: auto;
    margin-top: 5em;
    text-align: center;
    padding-bottom: 3em;
    border-radius: 1em;
    
}

#login > p:first-child{
    padding-top: 0.7em;
    font-size: 2em;
    margin-bottom: 2em;
}

label{
    padding-right: 20em;
}

form > label:first-child{
    padding-right: 23em;
}

input[type="text"]{
    width: 60%;
    height: 2.5em;
    border-radius: 2em;
    margin-bottom: 4.5em;
}

input[type="radio"]{
    display: none;
}

form > div{
    display: flex;
    justify-content: space-around;
}

form > div > label{
    padding: 0;
    width: 11em;
    height: 7em;
    align-content: center;
}

#Titan-Label{
    border: solid 1px black;
}

#Hunter-Label{
    border: solid 1px black;
}

#Warlock-Label{
    border: solid 1px black;
}

button{
    background-color: red;
    border-radius: 1em;
    font-size: 0.9em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0px;
}

button:hover{
    cursor: pointer;
}